<h1>Pages#contact</h1>

<p><%= number_to_phone "0049432 555 23 44" %></p>

<p><%= number_to_percentage "80.4" %></p>

<p><%= number_to_currency "12345250" %></p>

<p><%= number_with_delimiter "123456789010001111" %></p>